<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="main-header-top-bar">
            <a href="/"><img class="logo"src="images/logo-mercado-liebre.svg" ></a>      
            <div class="buscador">            
                <div class="contenedor">Buscar productos, marcas</div>
                <div class="contenedor-icon"> 
                    <i class="fa fa-search"></i>
                </div>
            </div>
            <p class="copy-header"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

     



    
        
        <div class="main-nav">
            <div>
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>                         
                </ul>
            </div>
            <div>
                <ul class="right-navbar">
                    <li><a href="/registro">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </div>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <section> <img  class="banner_home" src="images/img-home-banner.jpg" width="350px">
        </section>
        <section><h2>Basado en tu última visita</h2>
            <div class="losproductos">
                <article> 
                    <img src="images/img-cafetera-moulinex.jpg" width="100%">
                    <div class="linea"> 
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <h4 class="descproducto">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article><img src="images/img-macbook-pro-2019.jpg" width="100%">
                        <div class="linea">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$230.000 </p>
                            <p class="descuento">20% off</p>                            
                            <h4 class="descproducto"> MacBook Pro 2019</h4>
                        </div>
                </article>
                <article><img src="images/img-samsung-galaxy-s10.jpg" width="100%">
                        <div class="linea">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% off</p>                          
                            <h4 class="descproducto">Samsung Galaxy S10<h4>
                        </div>
                </article>
                <article><img src="images/img-tv-samsung-smart.jpg" width="100%">
                        <div class="linea">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% off</p>
                            <h4 class="descproducto">SmartTv Samsung 43"</p>
                        </div>
                </article>
            </div>
        </section>
        <section><h2>Sección de Ofertas</h2>
            <div class="losproductos">
                <article> 
                    <img src="images/img-cafetera-moulinex.jpg" width="100%">
                    <div class="linea"> 
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <h4 class="descproducto">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article><img src="images/img-macbook-pro-2019.jpg" width="100%">
                        <div class="linea">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$230.000 </p>
                            <p class="descuento">20% off</p>                            
                            <h4 class="descproducto"> MacBook Pro 2019</h4>
                        </div>
                </article>
                <article><img src="images/img-samsung-galaxy-s10.jpg" width="100%">
                        <div class="linea">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% off</p>                          
                            <h4 class="descproducto">Samsung Galaxy S10<h4>
                        </div>
                </article>
                <article><img src="images/img-tv-samsung-smart.jpg" width="100%">
                        <div class="linea">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% off</p>
                            <h4 class="descproducto">SmartTv Samsung 43"</p>
                        </div>
                </article>
            </div></section>
    </main>
    <footer>
        <div class="footer-contenedor"></div>
            <section>
                <i class="fas fa-credit-card"></i>

                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section><i class="fas fa-gift"></i>
                    <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section><i class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <div>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</div>
            </section>
        </div>    
            <section>
                <div class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
            </section>
    </footer>
</body>
</html>